<?xml version="1.0" encoding="utf-8"?>
<ArrayOfHotKeyAction xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HotKeyAction xsi:type="MoveWindowAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Shift Win</Modifiers>
        <Key>Right</Key>
      </KeyCombo>
      <KeyCombo>
        <Modifiers>Shift Win</Modifiers>
        <Key>Left</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Move foreground window to next screen</Name>
    <Description>This action will get the current foreground window and move it to the next screen. If there is only one screen, it will not move the window.</Description>
    <PreserveSize>false</PreserveSize>
  </HotKeyAction>
  <HotKeyAction xsi:type="RestoreUpAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>Up</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Restore Window Up</Name>
    <Description>If the window is minimized, this action will set the window state to normal placing it in it's normal location and size. If it's in the normal state, the window will be maximized.</Description>
  </HotKeyAction>
  <HotKeyAction xsi:type="RestoreDownAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>Down</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Restore Window Down</Name>
    <Description>If the window is maximized, this action will set the window state to normal placing it in it's normal location and size. If it's in the normal state, the window will be minimized.</Description>
  </HotKeyAction>
  <HotKeyAction xsi:type="StretchWindowAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>H</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Stretch Window Horizontally</Name>
    <Description>If the foreground window is in normal position, it will stretch the window in the given direction. If pressed again, it will restore the window to its location before the stretch.</Description>
    <Direction>Horizontally</Direction>
  </HotKeyAction>
  <HotKeyAction xsi:type="StretchWindowAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>V</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Stretch Window Vertically</Name>
    <Description>If the foreground window is in normal position, it will stretch the window in the given direction. If pressed again, it will restore the window to its location before the stretch.</Description>
    <Direction>Vertically</Direction>
  </HotKeyAction>
  <HotKeyAction xsi:type="DockAndMoveWindowAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>Left</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Dock &amp; Move Window Left</Name>
    <Description>This action will get the current foreground window and move it to the next screen. If there is only one screen, it will not move the window.</Description>
    <Percentage>0.4</Percentage>
    <MoveDirection>Left</MoveDirection>
    <PreserveSize>false</PreserveSize>
  </HotKeyAction>
  <HotKeyAction xsi:type="DockAndMoveWindowAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>Right</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Dock &amp; Move Window Right</Name>
    <Description>This action will get the current foreground window and move it to the next screen. If there is only one screen, it will not move the window.</Description>
    <Percentage>0.4</Percentage>
    <MoveDirection>Right</MoveDirection>
    <PreserveSize>false</PreserveSize>
  </HotKeyAction>
  <HotKeyAction xsi:type="MinimizeRestoreOtherWindowsAction">
    <Combos>
      <KeyCombo>
        <Modifiers>Win</Modifiers>
        <Key>Home</Key>
      </KeyCombo>
    </Combos>
    <Enabled>true</Enabled>
    <Name>Minimize / Restore All Other Windows</Name>
    <Description>Minimizes all active windows other then the foreground window. When pressed again, will restore all of those windows to their previous position.</Description>
  </HotKeyAction>
</ArrayOfHotKeyAction>